* {
    margin: 0;
    padding: 0; 
}
.main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding:25px;
    background: linear-gradient(45deg, #000000, #000ed9eb);
}

.section{
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -3px -3px 10px #ffffff;
    background-image: url(../img/paisaje.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 95vh;
    width: 70%;
    border: 1px solid black;
    justify-content: space-around;
    align-content: flex-start;
}

.left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin-bottom: 50px;
    margin-top:40px;
    margin-left: -10px;
}
.left__h3 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.fetch{
    background-color: white;
    border-radius: 10px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:100px;
}
.card {
    border-radius: 10px;
    margin:10px;
    overflow: hidden;
}
.card-body {
    background-image: url(../img/coding_gif/coding.gif);
}
.card-title {
    text-align: center;
    color: white;
}
.card-text {
    text-align: center;
    color: white;
}
.section__h1{
    margin: 2px 2px;
    text-align: center;
}
.day {
    margin-top: 25px;
}
.input{
    margin: 5px;
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.label{
    margin-top: 10px;
}
.label__dia {
    margin-left:70px;
}
.btns{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
    margin-top:5px;
}
.buton{
    width: 170px;
    color: white;
    padding: 1px;
    margin-top: 10px;
    margin-left: 114px;
    border-radius: 10px;
    background: #4cb8ea;
}
.section__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}
.section__text{
    text-align: center;
}
@media screen and (max-width: 1152px){
    .main {
        padding: 0;
    }
    .section{
        height: 100%;
        width: 100%;
    }
    .left{
        height: 100%;
        width: 100%;
    }
    h1 {
        width: 300px;
    }
   
}
.botones__mostrar__esconder {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.text{
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px
}

.section__div h3 {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.accordion{
    width: 350px;
}
.accordion-body {
    padding: 5px;
}
.accordion-button {
    background-color: black;
}
.dom{
    background-color: white;
}
.hide {
    display: none;
}
#dom {
    display: flex;
    width: 342px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
}
#textDom {
    margin: 0 auto;
    width:348px;
    padding: 20px;
}
.dom{
    margin: 0 -2px;
    border-radius: 5px;
}
.cerrar {
    margin-bottom: 25px;
}